// These colors are specific to the theme. Do not use in a package!

@very-light-gray: hsl(0, 0%, 88%);
@light-gray: hsl(0, 0%, 68%);
@gray: hsl(0, 0%, 48%);
@dark-gray: hsl(0, 0%, 32%);
@very-dark-gray: hsl(0, 0%, 12%);

@red: hsl(0, 88%, 48%);
@orange: hsl(30, 100%, 48%);
@light-orange: hsl(30, 100%, 48%);
@green: hsl(120, 100%, 36%);
@cyan: hsl(180, 100%, 36%);
@blue: hsl(210, 88%, 48%);
@purple: hsl(270, 88%, 60%);
