// These colors are specific to the theme. Do not use in a package!

@very-light-gray: hsl(0, 0%, 88%);
@light-gray: hsl(0, 0%, 68%);
@gray: hsl(0, 0%, 48%);
@dark-gray: hsl(0, 0%, 32%);
@very-dark-gray: hsl(0, 0%, 12%);

@cyan: hsl(180, 92%, 36%);
@blue: hsl(210, 92%, 48%);
@purple: hsl(270, 92%, 48%);
@green: hsl(128, 92%, 36%);
@red: hsl(0, 92%, 48%);
@orange: hsl(32, 92%, 48%);
@light-orange: hsl(32, 92%, 48%);
